* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
  }

body {
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    background-color: black;
    color: lime;
}

  .container {
    width: 100%;
    /*padding: 20px 0;*/
    background-color: rgba(152, 166, 168, 0.9);
    display: flex;
    justify-content: space-around;
    height: 50px;
    align-items: center;
  }

  .container ul {
    display: flex;
    list-style: none;
    width: 40%;
    justify-content: space-between;
  }

  .container ul li a {
    color: aqua;
    text-decoration: none;
    font-size: 0.8em;
  }

  .container ul li a:hover {
    color: aquamarine;
  }

  .logo {
    width: 212px;
    margin-top: 10px;
    height: 45px;
  }

  .header-left {
    float: left;
    padding: 0px;
    height: 65px;
  }

  /* css untuk tablet */

  @media screen and (max-width: 768px) {
    .container ul {
      width: 50%;
    }
  }

  /* ukuran mobile */

  @media screen and (max-width: 576px){
    .container ul {
      display: none;
    }
  }


